@model WebApplication.Models.ViewModels.PlanOfPayment

@{
    ViewBag.Title = "График";
}

<h2>График</h2>

<table class="table">
    <tr>
        <th>
            @("Дата платежа")
        </th>
        <th>
            @("К оплате")
        </th>
    </tr>

    @foreach (var item in Model.PaymentSchedule)
    {
        string style = item.Key < Model.CurrentDay ? "Green" : "FireBrick";
        <tr  style="background-color:@style">
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Вернуться к списку", "Details", new { creditId = Model.CreditId })
</p>
