@{
    ViewBag.Title = "Домашняя страница";
}

<h1>Neuhen & Zhiwil Bank Corporation $$$</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <p>
            <a class="btn" style="height: 200px; width: 200px; padding: 80px 10px 10px 10px; " href="@Url.Action("Index", "ATM")">ATM</a>
        </p>
    </div>
    <div class="col-md-4">

        <p>
            <a class="btn" style="height: 200px; width: 200px; padding: 80px 10px 10px 10px; "href="@Url.Action("Index", "Bank")">BelarusBank</a>
        </p>
    </div>
    <div class="col-md-4">

        <p>
            <a class="btn" style="height: 200px; width: 200px; padding: 80px 10px 10px 10px; " href="@Url.Action("Index", "Client")">Client Page</a>
        </p>
    </div>


    <div class="col-md-4">
        <p>
            <a class="btn" style="height: 200px; width: 200px; padding: 80px 10px 10px 10px; "  href="@Url.Action("Index", "Deposit")">Deposits page</a>
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <a class="btn" style="height: 200px; width: 200px; padding: 80px 10px 10px 10px; " href="@Url.Action("Index", "Credit")">Credits Page</a>
        </p>

    </div>
</div>