@model WebApplication.Models.ViewModels.Client

@{
    ViewBag.Title = "Информация о клиенте";
}

<h2>Информация о клиенте</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @if (Model.Gender)
            {
                <text>Мужской</text> 
            }
            else
            {
                <text>Женский</text>            
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentificationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceActualPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceActualPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceActualAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceActualAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Citizenship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Citizenship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pensioner)
        </dt>

        <dd>
            @if (Model.Pensioner)
            {
                <text>Пенсионер</text> 
            }
            else
            {
                <text>Не пенсионер</text>            
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyIncome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
