@model Services.Common.Model.TransactionReportModel

@{
    ViewBag.Title = "TransactionsReport";
}

<h2>TransactionsReport</h2>

<p>@Html.ActionLink("Go to bank page", "Index") | @Html.ActionLink("Go to account report page", "AccountReport")</p>
<hr/>
<table class="table">
    <tr>
        <th>
            @("Debit Account Id")
        </th>
        <th>
            @("Credit Account Id")
        </th>
        <th>
            @("Amount")
        </th>
    </tr>

    @foreach (var item in Model.Transactions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DebetAccount.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditAccount.Id)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
        </tr>
    }
</table>

