@model WebApplication.Models.ViewModels.Deposit

@{
    ViewBag.Title = "Детали договора";
}

<h2>Детали договора</h2>

<div>
    <h4>Депозитный</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepositNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepositNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanOfDeposit)
        </dt>

        <dd>
            @($"{Model.PlanOfDeposit.Name} ({Model.PlanOfDeposit.Percent}% в год)")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>

        <dd>
            @Html.ActionLink($"{Model.Client.Surname} {Model.Client.Name} {Model.Client.Patronymic}", "Details", "Client", new { id = Model.Client.Id }, new { })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @($"{Model.StartDate.Date:dd.MM.yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @($"{Model.EndDate.Date:dd.MM.yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPercentAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPercentAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentAmountForDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentAmountForDay)
        </dd>

    </dl>
</div>
<p>
    @if (Model.IsCanCloseToday)
    {
        using (Html.BeginForm("CloseDeposit", "Deposit", new {depositId = Model.Id}, FormMethod.Post))
        {
            <button class="btn btn-default" type="submit">Закрыть депозит</button>
        }
    }
</p>
<p>
    @if (Model.IsCanWithdrawPercentsToday)
    {
        using (Html.BeginForm("TakePercents", "Deposit", new { depositId = Model.Id }, FormMethod.Post))
        {
            <button class="btn btn-default" type="submit">Снять проценты</button>
        }
    }
</p>
<p>
    @Html.ActionLink("Вернуться к списку договоров", "Index")
</p>
